<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{user_name}}!</h2>
  </div>
</div>

<div class="row mt-4">
<div class="col-md-8">
  {{#if users_workouts.length}}
  <div class="col-md-6 workout-list">
    <h3>Your Workouts</h3>

    {{#each workout as |workout|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/workout/{{workout.id}}">{{workout.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{workout.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div class="col-md-6 workout-list">
    <h3>You have not completed any workouts yet! Go to the workouts tab to log some</h3>
 </div>
  {{/if}}
  </div>

  <div class="col-md-4">
    <h3>Tell us about yourself!</h3>

    <form class="form user-info">
      <div class="form-group">
        <label for="user-height">Height in cm</label>
        <input class="form-control" type="text" id="user-height" name="user-height" />
      </div>
      <div class="form-group">
        <label for="user-weight">Weight in kg</label>
        <input class="form-control" type="number" id="user-weight" name="user-weight" />
      </div>
      <div class="form-group">
        <label for="user-age">Age</label>
        <input class="form-control" type="number" id="user-age" name="user-age" />
      </div>
      <div class="form-group">
         <label for="body-type">Body Type:</label>
      <select class="form-select body-type" aria-label="body-type">
        <option value="male" id="male" selected>Masculine</option>
        <option value="female" id="female">Feminine</option>
    </select>
        </div>
         <div class="form-group">
         <label for="user-goal">Goal:</label>
      <select class="form-select user-goal" aria-label="body-type">
        <option value="heavyWeightGain" id="heavyWeightGain">Heavy Weight Gain</option>
        <option value="mildWeightGain" id="mildWeightGain">Mild Weight Gain</option>
        <option value="balance" id="balance" selected>Balance Weight</option>
        <option value="mildWeightLoss" id="mildWeightLoss">Mild Weight Loss</option>
        <option value="heavyWeightLoss" id="heavyWeightLoss">Heavy Weight Loss</option>
    </select>
        </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
    </form>
  </div>
</div>

<script src="../public/js/userprofile.js"></script>
