<div class="row">
    <div class="col-auto">
        <h2> Have a look at these... {{user.name}}</h2>
    </div>
</div>

{{#if workouts.length}}
     <h2>All workouts</h2>
{{#each workouts as |workout|}}
<div class="card">
  <h5 class="card-header workout-category">{{workout.category}}</h5>
  <div class="card-body">
    <h5 class="card-title workout-name" id="workoutname-{{@index}}">{{workout.name}}</h5>
    <p class="card-text workout-reps" id="workout-{{@index}}">{{workout.reps}}</p>
    <a type="submit" href="#" class="btn btn-primary workout-log">Log this workout</a>
    <div class="intensityBttns"> Toggle Intensity
    <div>
         <a href="#"><i class="fa fa-caret-up fa-2x workout-in workout-in" name="workout-in"></i></a>
    </div>
    <div>
         <a href="#"><i class="fa fa-caret-down fa-2x workout-dec" btn="workout-dec"></i></a>
    </div>
    </div>
 </div>
</div>
{{else}}
    <p>No workouts available</p>
{{/each}}
{{/if}}

<script src="/js/workout.js"></script>